<div class="row">
    <form class="col s12" ng-submit="createPackage()">
        <div class="row">
            <div class="input-field col s12">
                <select ng-model="package.cidade" ng-options="city as city.nome for city in cities">
                    <option>--</option>
                </select>
                <label>Cidade:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                Data início:
                <input type="date" id="data_init" ng-model="package.dataInicio" />
            </div>

            <div class="input-field col s6">
                Data final:
                <input type="date" id="data_end" ng-model="package.dataFim" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="number" id="qtde" ng-model="package.quantidadePessoas" min="1" />
                <label for="qtde">Qtde de pessoas:</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Criar
            <i class="material-icons right"></i>
        </button>
    </form>
</div>
