<div class="row">
    <form class="col s12" ng-submit="savePackage()">
        <div class="row">
            <div class="input-field col s12">
                <select ng-model="flightReservation.tipoVoo" ng-options="type as type for type in flightTypes">
                </select>
                <label>Tipo de voo:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select ng-model="flightReservation.cidadeByCidadeOrigemId" ng-options="city as city.nome for city in cities">
                </select>
                <label>Cidade de Origem:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select ng-model="flightReservation.cidadeByCidadeDestinoId" ng-options="city as city.nome for city in cities">
                </select>
                <label>Cidade de Destino:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                Data de ida:
                <input type="date" ng-model="flightReservation.dataEmbarque" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select ng-model="flightReservation.voo" ng-options="voo as voo.nomeCompania for voo in flights">
                </select>
                <label>Voo:</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
            <i class="material-icons right"></i>
        </button>
    </form>
</div>
