<div id="hotelRegisterModal" class="modal">
	<div class="modal-content">
		<h4>Cadastro de Hotel</h4>
		<div class="row">
			<form id="hotelRegisterForm" method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s8">
						<input id="hotel_name" type="text" class="validate" required> 
						<label for="hotel_name">Nome</label>
					</div>
					<div class="input-field col s4">
						<input id="hotel_daily_value" type="text" class="validate" required>
						<label for="hotel_daily_value">Valor da diaria</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s8">
						<select id="hotel_city">
							<option value="" disabled selected>Selecione a cidade</option>
							<option value="1">Belo Horizonte</option>
							<option value="2">Pouso Alegre</option>
							<option value="3">Camanducaia</option>
						</select> 
						<label>Cidade</label>
					</div>
					<div class="input-field col s4">
						<input id="hotel_rooms" type="text" class="validate" required>
						<label for="hotel_rooms">Num. de quartos</label>
					</div>
				</div>
				<div class="row">
					<p>
						<input type="checkbox" id="hotel_isActive" checked="checked" /><label
							for="hotel_isActive">Ativo</label>
					</p>
				</div>
				<div class="row">
					<div class="col s12">
						<button type="submit"
							class=" right modal-action waves-effect waves-green btn-flat">Salvar</button>
						<a href="#!"
							class=" right modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../Public/js/Register/RegisterModalController.js"></script>