<div>
    <div class="title">
        <h5>Cadastros</h5>
        <hr>
    </div>

    <table class="striped responsive-table centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cidade</th>
                <th>Lugares</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="restaurant in restaurantList">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.city.nome}}</td>
                <td>{{restaurant.quantitySeats}}</td>
                <td>{{restaurant.price}}</td>
                <td><a class="btn-floating green" ng-click="edit(restaurant)"><i class="material-icons">mode_edit</i></a></td>
                <td><a class="btn-floating red" ng-click="remove(restaurant)"><i class="material-icons">delete</i></a></td>
            </tr>
        </tbody>
    </table>

    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large green">
            <i class="large material-icons">reorder</i>
        </a>
        <ul>
            <li><a class="btn-floating blue" ng-click="add()"><i class="material-icons">add</i></a></li>
        </ul>
    </div>
</div>

<div id="modalRegister" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{titleModalRegister}}</h4>
        {{register}}
        <form class="col s12">
            <div class="row">
                <div class=" col s12">
                    <div class="row">
                        <label for="name">Nome</label>
                        <input id="name" type="text" class="validate" ng-model="register.name">
                    </div>


                    <div class="row">
                        <label for="city">UF</label>
                        <select id="city" ng-model="register.city"
                                ng-options="city.nome for city in cityList track by city.nome">
                        </select>
                    </div>


                    <div class="row">
                        <label for="quantitySeats">Lugares</label>
                        <input id="quantitySeats" type="text" class="validate" ng-model="register.quantitySeats">
                    </div>

                    <div class="row">
                        <label for="price">Preço</label>
                        <input id="price" type="text" class="validate" ng-model="register.price">
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action waves-effect waves-green btn-flat" ng-click="save(register)">Salvar</a>
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>